<section>
  <div class="py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10 mt-5">
        @if(bookData.length >0 ){ @for(book of bookData; track book){
        <app-cart-card [book]="book"></app-cart-card>
        }
        <div>
          <div class="card-body">
            <button
              type="button"
              data-mdb-button-init
              data-mdb-ripple-init
              class="btn btn-warning btn-block btn-lg"
              (click)="openModal()"
            >
              Proceed to Pay
            </button>
          </div>
        </div>
        }@else {
        <p class="d-flex justify-content-center align-items-center">
          There is nothing in the cart!
        </p>
        }
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<app-order-form></app-order-form>
