.book-detail {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  margin-top: 200px;
  margin-bottom: 150px;
  border-radius: 20px;
  padding: 0px 100px;
}
.image-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-image {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}
.content-box {
  background: white;
}
.stars-container {
  display: flex;
  gap: 3px;
}
.rating-text {
  font-size: 16px;
  font-weight: bold;
}
.quantity-control input {
  max-width: 60px;
}
.btn {
  border-radius: 8px;
}
dd{
  color: rgb(0, 89, 255);
  font-weight: bold;
}
@media (max-width: 992px) {
  .book-detail {
    padding: 0px 5%;
  }
  .image-container {
    margin-bottom: 5%;
  }
  .book-image {
    width: 70%;
    max-width: 200px;
    border-radius: 10px;
  }
  h2{
    font-size: 1.4rem;
  }
  .description{
    font-size: 0.9rem;
  }
}
