<section class="home-testimonial">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center testimonial-pos">
      <div class="col-md-12 d-flex justify-content-center">
        <h2>Explore the Customer's experience</h2>
      </div>
    </div>
  </div>

  <section class="home-testimonial-bottom">
    <div class="container testimonial-inner">
      <div class="row d-flex justify-content-center align-items-stretch mt-4">
        @if(testimonialData){ @for(data of testimonialData; track data){
        <div class="col-md-4 col-sm-6 col-12 d-flex">
          <app-testimonial-card
            [testimonialContent]="data"
          ></app-testimonial-card>
        </div>
        } }
      </div>
    </div>
  </section>
</section>
