section{
    padding: 30px;
    margin: 1rem 0px;
    width: 100%;
}
.content{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    h2{
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
}