.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

#main-content {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  i{
    position: relative;
    top: 3px;
  }
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
}

.dropdown-menu.show {
  display: flex;
}

/* Custom Scrollbar */
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 245);
  border-radius: 30px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}
