<section>
  <ol class="dropdown-list">
    <li class="dropdown-item" (click)="toggleDropdown()">
      <div id="main-content">
        <div>Categories</div>
        <div>
          <i class="bi bi-chevron-down"></i>
        </div>
      </div>
    </li>
    <div class="dropdown-menu" [class.show]="isDropdownOpen">
      @if(categoriesList) { @for(category of categoriesList; track category) {
      <li class="dropdown-item" (click)="moveToBookPage(category)">
        {{ category }}
      </li>
      } }
    </div>
  </ol>
</section>
