<div class="container-fluid mx-auto">
  <div class="row">
    <div class="line mb-3 mx-auto"></div>
    <div
      class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3"
    >
      <div class="p-2 flex-fill flex-column bd-highlight mb-5 mb-md-0">
        <div class="mb-2"><img [src]="imageUrl" alt="logo image" /></div>
        <small>Copyright &copy; 2025</small>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Follow Us</h5>
        <div class="d-flex flex-row gap-2 align-items-center">
          <a class="mb-0"><i class="bi bi-facebook"></i></a>
          <a class="mb-0"><i class="bi bi-instagram"></i></a>
          <a class="mb-0"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Company</h5>
        <p class="mb-0">About Us</p>
        <p class="mb-0">Testimonial</p>
        <p class="mb-0">Contact</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Contact Us</h5>
        <p class="mb-0">Email: bookstore &#64;gmail.com</p>
        <p class="mb-0">Phone: (+92) 3000000000</p>
        <p class="mb-0">Address: 123 Street No, City, Country</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Help</h5>
        <p class="mb-0">Contact Us</p>
      </div>
    </div>
    <div class="line mb-3 mx-auto"></div>
  </div>
</div>
