<section>
  <div class="carousel-container">
    <div id="slider">
      <div id="main-body1" class="slide">
        <div id="card1"></div>
        <div class="book-cover">
          <img [src]="imgLink[0]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body2" class="slide">
        <div id="card2"></div>
        <div class="book-cover">
          <img [src]="imgLink[1]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body3" class="slide">
        <div id="card3"></div>
        <div class="book-cover">
          <img [src]="imgLink[2]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body4" class="slide">
        <div id="card4"></div>
        <div class="book-cover">
          <img [src]="imgLink[3]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
    </div>
    <div id="content-page">
      <div id="image-container">
        <div class="book-cover" id="img">
          <img id="selected-image" [src]="imgLink[index]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="content">
        <h1>{{ titles[index] }}</h1>
        <p>{{ description[index] }}</p>
        <div class="price">
          <div>${{ price[index] }}</div>
        </div>
        <form class="group">
          <i class="bi bi-search"></i>
          <input class="input" type="search" placeholder="Search" />
        </form>
      </div>
    </div>
  </div>
</section>
