<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner carousel-pos">
        <div class="carousel-item active">
            <div class="grid-content">
                <div class="carousel-content1">
                    <h1>Buy and Save your books today.</h1>
                    <p>Find exciting books and save in your shelves.</p>
                </div>
                <img [src]="imageUrl" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>
        <div class="carousel-item">
            <div class="grid-content">
                <div class="carousel-content2">
                    <h1>Find good discount on purchase.</h1>
                    <p>Feel free to make purchases with our excellent services.</p>
                </div>
                <img [src]="imageUrl2" class="d-block w-100 carousel-image" alt="...">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

<section>
  <div class="carousel-container">
    <div id="slider">
      <div id="main-body1" class="slide">
        <div id="card1"></div>
        <div class="book-cover">
          <img [src]="imgLink[0]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body2" class="slide">
        <div id="card2"></div>
        <div class="book-cover">
          <img [src]="imgLink[1]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body3" class="slide">
        <div id="card3"></div>
        <div class="book-cover">
          <img [src]="imgLink[2]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="main-body4" class="slide">
        <div id="card4"></div>
        <div class="book-cover">
          <img [src]="imgLink[3]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
    </div>
    <div id="content-page">
      <div id="image-container">
        <div class="book-cover" id="img">
          <img id="selected-image" [src]="imgLink[index]" alt="Book Cover" />
          <div class="page1"></div>
          <div class="page2"></div>
          <div class="page3"></div>
          <div class="page4"></div>
          <div class="page5"></div>
        </div>
      </div>
      <div id="content">
        <h1>{{ titles[index] }}</h1>
        <p>{{ description[index] }}</p>
        <div class="price">
          <span
            ><div>${{ price[index] }}</div>
            <div class="price-c">/perbook</div></span
          >
        </div>
        <div class="group">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
            <g>
              <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
              ></path>
            </g>
          </svg>
          <input class="input" type="search" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>
</section>
