.container {
  max-width: 400px;
  margin-top: 50px;
}
.nav-pills .nav-link {
  border-radius: 50px;
}
.btn-floating {
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.form-outline {
  position: relative;
}
.form-outline label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  transition: 0.3s;
}
.form-outline input:focus + label,
.form-outline input:not(:placeholder-shown) + label {
  top: -15px;
  left: 5px;
  font-size: 12px;
  color: #007bff;
}
