<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="d-flex w-100 flex-column content">
        <h2 class="">
          Welcome to bookstore your online destination for books of all kinds,
          delivered straight to your doorstep! Whether you're a lifelong book
          lover or just starting your reading journey, we’re here to help you
          find your next favorite read.
        </h2>
        <h3 class="">Why Choose Us?</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      @if(aboutData){ @for(data of aboutData; track data){
      <div class="col-12 col-lg-6 mb-4">
        <app-about-card [aboutContent]="data"></app-about-card>
      </div>
      } }
    </div>
  </div>
</section>
<app-footer></app-footer>
