section{
    padding: 30px;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}
.content{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    h2{
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
}