<div class="card-design">
  <div class="card">
    <!-- <img
      [src]="book['img']"
      class="card-img-top"
      alt="book Image"
      (click)="moveToBookDetail(book['category'], book['title'])"
    /> -->
    <app-book-style
      [imageUrl]="book['img']"
      (click)="moveToBookDetail(book['category'], book['title'])"
      class="book-style"
    ></app-book-style>
    <div class="card-body">
      <h5 class="card-title">{{ book["title"] }}</h5>
      <div
        class="d-flex flex-row justify-content-between align-items-center m-0"
      >
        <p class="card-text">${{ book["price"] }}</p>
        <div class="basket" (click)="moveToCart(book['title'], 1)">
          <i class="bi bi-basket-fill"></i>
        </div>
      </div>
    </div>
  </div>
</div>
