.card {
  border-radius: 20px;
  width: 161px;
  border: none;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card-body {
  height: 110px;
  overflow: hidden;
}

#foryou {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 30px;
  margin: 20px 50px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

h5 {
  font-size: 16px;
  font-weight: bold;
  height: 42px;
  overflow: hidden;
}

p {
  font-weight: bold;
}

.basket {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 244, 244);
  border-color: rgb(241, 240, 240);
  margin-bottom: 20px;
  margin-top: 0px;
  i {
    color: rgb(0, 0, 252) !important;
  }
}
.basket:hover {
  background-color: rgb(0, 0, 252);
  i {
    color: white !important;
  }
}

img {
  width: 160px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 244, 244);
  border-color: rgb(241, 240, 240);
}

#titlebar {
  margin: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
  font-weight: bold;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .card {
    border-radius: 10px;
    width: 140px;
  }
  .card-body {
    height: 100px;
  }
  h5 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 18px;
  }
  img {
    width: 139px;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .basket {
  width: 30px;
  height: 30px;
}
}
