<section id="foryou-section">
  <div id="titlebar">
    <h2 #forYouBooks>Featured For You</h2>
    <div id="buttons">
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyRight('.allForYouBook')"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyLeft('.allForYouBook')"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
  <div id="foryou" class="allForYouBook">
    @if(forUBooks){ @for(book of forUBooks; track book){ @defer(on
    viewport(forYouBooks)) {
    <app-book-card [book]="book"></app-book-card>
    }@placeholder (minimum 3000ms){
    <app-book-placeholder></app-book-placeholder>
    } }}
  </div>
</section>
<section id="foryou-section">
  <div id="titlebar">
    <h2 #allTopBook>Top Books</h2>
    <div id="buttons">
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyRight('.allTopBook')"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyLeft('.allTopBook')"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
  <div id="foryou" class="allTopBook">
    @if(topBooks){ @for(book of topBooks; track book){ @defer(on
    viewport(allTopBook)){
    <app-book-card [book]="book"></app-book-card>
    }@placeholder(minimum 3000ms){
    <app-book-placeholder></app-book-placeholder>
    } }}
  </div>
</section>
<section id="foryou-section">
  <div id="titlebar">
    <h2 #allPopularBook>Popular Books</h2>
    <div id="buttons">
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyRight('.popBooks')"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="scrollHorizontallyLeft('.popBooks')"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
  <div id="foryou" class="popBooks">
    @if(popularBooks){ @for(book of popularBooks; track book){ @defer(on
    viewport(allPopularBook)){
    <app-book-card [book]="book"></app-book-card>
    }@placeholder(minimum 3000ms) {
    <app-book-placeholder></app-book-placeholder>
    } }}
  </div>
</section>
