.nav-bar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  padding: 0px 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#navbar-toggler {
  cursor: pointer;
}
.nav-content {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item:hover {
  color: gray;
}
.nav-item:focus {
  color: rgb(92, 90, 90);
}
a {
  cursor: pointer;
}

button i.bi-search {
  color: white !important;
}

.navbar-toggler {
  background-color: white;
  color: white;
  border-color: transparent;
  span {
    width: 20px;
  }
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-toggler:hover {
  background-color: white;
  color: white;
  border-color: transparent;
}

.nav-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 50px;
  width: 350px;
  height: 50px;
  margin-left: 50px;
}

button {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  background-color: rgb(77, 77, 245);
}

button:hover {
  background-color: rgb(0, 0, 252);
}

a {
  color: #0066ff;
  font-size: 18px;
}

a:hover {
  color: #0026ff;
}

a:active {
  color: black;
}

a:focus {
  color: black;
}

img {
  width: 50px;
}

.navbar-nav {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.cart {
  top: 0px;
  right: 0px;
  width: 15px;
  height: 16px;
  background-color: rgb(231, 61, 61);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  color: white;
}

.cart-image {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: grey !important;
  cursor: pointer;
}

.cart-image:hover {
  color: rgb(68, 68, 68) !important;
}

.collapse {
  display: flex;
}

@media only screen and (max-width: 992px) {
  nav {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
  img {
    width: 40px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  input {
    border-radius: 50px;
    width: 250px;
    height: 40px;
  }
  .content-box {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
  }
  button {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    svg {
      color: white;
      width: 14px;
      height: 14px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  a {
    font-size: 16px;
  }
  .nav-content {
    margin-left: 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }
  input {
    margin-left: 0px;
  }
  form {
    margin-top: 10px;
  }

  .nav-content2 {
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .collapse.show {
    display: block;
    max-height: 520px;
    animation: slide-down 0.3s linear;
  }

  @keyframes slide-down {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 520px;
    }
  }
}

@media (max-width: 576px){
  a{
    font-size: 14px;
  }
}
