.book-detail {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  margin: 3rem auto;
  border-radius: 20px;
  padding: 0px 100px;
}
.image-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.availability {
  font-size: 18px;
}

.text-success {
  font-size: 20px;
}

.book-image {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}
.content-box {
  background: white;
}
.stars-container {
  display: flex;
  gap: 3px;
}
.rating-text {
  font-size: 18px;
  font-weight: bold;
}
.quantity-control input {
  max-width: 60px;
}
.btn {
  border-radius: 8px;
}
.description {
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.description::-webkit-scrollbar {
  width: 4px;
}

.description::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 245);
  border-radius: 30px;
}

.description::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}
dd {
  color: rgb(0, 89, 255);
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 992px) {
  .book-detail {
    padding: 0px 5%;
  }
  .image-container {
    margin-bottom: 5%;
  }
  .book-image {
    width: 70%;
    max-width: 200px;
    border-radius: 10px;
  }
  h2 {
    font-size: 1.4rem;
  }
  .description {
    font-size: 0.9rem;
  }
}
