// section {
//   margin-top: 50px;
//   margin-bottom: 100px;
//   padding: 30px 0;
//   margin: auto;
//   width: 0px 5rem;
//   background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 255, 0.6));
//   backdrop-filter: blur(10px);
// }

.container {
  max-width: 80vw;
  border-radius: 30px;
  padding: 5% 0%;
  overflow: hidden;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.container:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.bg-white {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(to right, #007bff, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-label {
  font-weight: 600;
  color: #444;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
}

input:focus,
textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.5);
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
}

.btn-primary {
  background: linear-gradient(to right, #6c63ff, #007bff);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 8px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(to right, #007bff, #6c63ff);
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(108, 99, 255, 0.3);
}

.input-group-text {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px 0 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.shadow-sm {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 992px) {
  h2 {
    font-size: 1.6rem;
  }
  .container {
    max-width: 80vw;
  }

  input,
  textarea {
    font-size: 0.95rem;
    padding: 8px;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 8px;
  }
}
@media (max-width: 786px){
  .container {
  max-width: 96vw;
  padding: 8rem;
}
}
@media (max-width: 662px){
  .container {
  max-width: 96vw;
  padding: 5rem;
}
}
@media (max-width: 576px){
  .container {
  max-width: 96vw;
  padding: 2rem;
}
}